
<li>
    <img src="<%= item.image_url %>" alt="book cover image">
    <p>Title: <%= item.title %></p>
    <p>Author: <%= item.author %></p>
    <p class="description">Description: <%= item.description %></p>
    <p class="isbn"> ISBN: <%=item.isbn %></p>
    <p class="bookshelf"> Bookshelf: <%= item.bookshelf %></p>
</li>
