                <div>
                <img src="<%= item.image %>" alt="book cover image">
                <p>Title: <%= item.title %></p>
                <p>Author: <%= item.author %></p>
                <p class="descpription">Description: <%= item.description %></p>
                <p> ISBN: <%=item.isbn %></p>
                <p> Bookshelf: <%= item.bookshelf %></p>
                </div>

