
<li>
    <img src="<%= item.image_url %>" alt="book cover image">
    <p>Title: <%= item.title %></p>
    <p>Author: <%= item.author %></p>
    <p class="description">Description: <%= item.description %></p>
    <p class="isbn"> ISBN: <%=item.isbn %></p>
    <p class="bookshelf"> Bookshelf: <%= item.bookshelf %></p>

    <form action="/books/<%= item.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%= item.id %>">
        <button>Delete</button>
    </form>
</li>


