
            <label>Title:
                <input class="DetailForm" type="text" name="addBooks" value="<%= item.title %>" required>
            </label>
            <label> Author:
                <input class="DetailForm" type="text" name="addBooks" value="<%= item.author %>" required>
            </label>
            <label>Description:
                <input class="DetailForm" type="text" name="addBooks" value="<%= item.description %>" required>
            </label>
            <label>ISBN:
                <input class="DetailForm" type="text" name="addBooks" value="<%= item.isbn %>" required>
            </label>
            <label>Bookshelf:
                <input class="DetailForm" type="text" name="addBooks" value="<%= item.bookshelf %>" required>
            </label>
            <label>Image URL:
                <input class="DetailForm" type="text" name="addBooks" value="<%= item.image_url %>" required>
            </label>
            <button>Save to Database</button>
        