<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
</head>
<body>
    <header>
      <%- include('../../layout/header') %>
    </header>
   <main>  
       
        <ul>
            <% bookDetail.forEach(item => { %>
              <%- include ../books/detail %>
              <%- include ../books/edit %>

            </ul>
            <% }) %>
          </main>  
    <footer>
<%- include('../../layout/footer') %>
    </footer>
</body>
</html>
