<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>
<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
   <main>     
        <ul>
            <% searchResults.forEach(item => { %>
                <img src="<%= item.image %>" alt="book cover image">
                <p>Title: <%= item.title %></p>
                <p>Author: <%= item.author %></p>
                <p class="descpription">Description: <%= item.description %></p>
                <button class="viewdetails" name="<%= item.id %>">Select</button>
            <% }) %>
        </ul>
    </main>  
    <footer>
        <%- include('../../layout/footer') %>
    </footer>
</body>
</html>